* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A2929;
}


.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.content > h1 {
    font-size: xx-large;
    font-weight:lighter;
    margin-top: 3%;
}


/* Форма регистрации  */
.form {
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    width: 70%;
    align-items: center;
    flex-wrap: nowrap;
    width: 70%;
}

.reg-form {
    margin-top: 3%;
}

.form > input {
    padding: 2%;
    margin-top: 2%;
    font-size: large;
    background-color: #2A2929;
    border: solid 1px #C0BEBE;
    color: #fff;
    border-radius: 15px;
    width: 60%;
    transition: all .3s;
}

.form > input:hover {
  border-color: #fff;
  transform: scale(1.01);
}

.form > button {
    border-radius: 50%;
    width: min-content;
    height: min-content;
    border: none;
    background-color: #2A2929;
    padding: none;
}

.reg-form > button {
    margin-right: -98%;
    margin-top: -41%;
    background-clip: border-box;
}

.form > button > img {
    background-color: #2A2929;
    border: none;
    border-radius: 50%;
    padding: none;
    vertical-align: middle;
    transition: all .3s;
}

.form > button > img:hover {
    transform: scale(1.05);
}

/* CSS код для переключателя */
.switch {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    transition: all .3s;
  }

  .switch:hover {
    transform: scale(1.01);
  }
  
  .switch input {
    display: none;
  }
  
  .switch label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2A2929;
    border-radius: 25px;
    cursor: pointer;
    border: solid 1px #C0BEBE;
  }
  
  .switch label .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    opacity: 0;
  }
  
  .switch label .text:first-child {
    left: 50px;
  }
  
  .switch label .text:last-child {
    right: 50px;
  }
  
  .switch label .slider {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .switch input:checked + label .slider {
    transform: translateX(150px);
  }

  .switch input:checked + label .text:first-child {
    opacity: 1;
  }
  
  .switch input:not(:checked) + label .text:last-child {
    opacity: 1;
  }


/* Форма войти */
.sign_in-form {
    margin-top: 20%;
    margin-bottom: auto;
    height: fit-content;
}

.sign_in-form > button {
    margin-right: -98%;
    margin-top: -15%;
}
  