{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация</h1>

        <form id="reg-form" method="post" class="reg-form form">
                        <!-- HTML код для переключателя -->
            <div class="switch">
                <input type="checkbox" id="toggle"/>
                <label for="toggle">
                    <span class="text">Учитель</span>
                    <span class="slider"></span>
                    <span class="text">Ученик</span>
                </label>
            </div>

            <input type="text" placeholder="Имя" name="first_name" id="first_name">
            <input type="text" placeholder="Фамилия" name="second_name" id="second_name">
            <input type="text" placeholder="Отчество" name="last_name" id="last_name">
            <input type="email" placeholder="Почта" name="email" id="email">
            <input type="text" placeholder="Номер карты" maxlength="16" pattern="\d{4} \d{4} \d{4} \d{4}" name="card_number" id="card_number">
            <input type="password" placeholder="Пароль" name="password" id="password">
            <input type="password" placeholder="Повторите пароль" name="repeat_password" id="repeat_password">

            <button id="reg_button" type="submit"><img src="{{ url_for('static', path='img/Button.png') }}" alt="Продолжить"></button>
        </form>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput/src/jquery.maskedinput.min.js" type="text/javascript"></script>
<script>
    let card_number_f = document.getElementById("card_number");
    card_number_f.addEventListener("focus", function (event) {
       $("#card_number").mask("9999 9999 9999 9999");
    });
        let form = document.querySelector("#reg-form");
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            let flag = false;
            let pass = document.querySelector('#password').value;
            let r_pass = document.querySelector('#repeat_password').value;
            console.log(document.querySelector("#card_number").value);

            if (pass !== "" && r_pass !== "" && pass.length === r_pass.length && pass.length >= 8 && pass === r_pass) {
               flag = true
            }

            console.log(flag);
    });
</script>
{% endblock %}
